QPushButton#SolveButton
{
image: url(:/Resources/Resources/pushbutton.png);
color: rgb(255, 255, 255);
}

QPushButton#SolveButton:pressed
{
image: url(:/Resources/Resources/pushbutton_pressed.png);
color: rgb(200, 200, 200);
}

QPushButton#SolveButton:hover
{
border: none;
background-color: rgb(255, 255, 255);
padding: 2px;
}

QPushButton#HelpButton
{
image: url(:/Resources/Resources/Blue_question_mark_icon.svg.png);
}

QPushButton#HelpButton:pressed
{
image: url(:/Resources/Resources/Blue_question_mark_icon_pressed.png);
}

QPushButton#HelpButton:hover
{
border-radius: 30px;
}

QPushButton#TabButton
{
image: url(:/Resources/Resources/active.png);
color: rgb(0, 0, 0);
border: none;
}
